#!/bin/bash
############################################################
# conf
# User editable configuration file
############################################################

# Select your current OS
# Options include:
#   MacOS
#   Linux
export OS="MacOS"

# Editor
# Enter your favorite editor. Default is Vim.
export EDITOR="vim"
